@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Start Home Section
.home-section{
    // min-height: 80vh;
    position: relative;
    z-index: 2;

    .home-item{
        padding: 200px 0;
        color: #fff;

        @media screen and (max-width:$screen-lg) {
            padding: 150px 0;
        }

        &::after{
            content: '';
            @include overlay(rgba(0, 0 ,0, .5))
        }

        .home-img{
            @include overlay(none);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-content{

            .home-title{
                color: $white;
                margin-bottom: 22px;
                text-align: center;

                .text{
                    font-size: 23px;
                    
                    @media screen and (max-width: $screen-lg) {
                        font-size: 18px;
                    }
                }
                
                .title{
                    font-family: fontDemi;
                    font-size: 40px;
                    margin-top: 10px;

                    @media screen and (max-width: $screen-lg) {
                        font-size: 24px;
                    }
                }
            }
            
            .home-desc{
                line-height: 1.6;
                font-size: 19px;
                color: $white;
                text-align: center;
                font-family: fontReg;
                
                @media screen and (max-width: $screen-lg) {
                    font-size: 17px;
                }

                @media screen and (max-width:$screen-md) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
    
            }

        }

    }

    .owl-dots{
        bottom: 20px;
        .owl-dot{
            background-color: $white !important;
        }
    }
}

// Start discount Section
.discount-sec{
    .discount-item{
        position: relative;
        height: 280px;
        border-radius: 20px;
        overflow: hidden;
        
        @media screen and (max-width:$screen-lg) {
            height: 240px;
            border-radius: 15px;
        }
        
        @media screen and (max-width:$screen-md) {
            height: 210px;
            border-radius: 10px;
        }

        .disc-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .5);
            @include center;
            flex-direction: column;
            gap: 28px;
            transition: $main-transition;
            opacity: 0;
            pointer-events: none;

            .disc-head{
                font-size: 26px;
                color: $white;

                @media screen and (max-width:$screen-lg) {
                    font-size: 23px;
                }

                @media screen and (max-width:$screen-sm) {
                    font-size: 20px;
                }
            }
        }

        &:hover{
            .content{
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

}

.side-filter-cards{
    display: flex;
    gap: 32px;
    position: relative;
    align-items: flex-start;
    overflow: hidden;

    .filter-side{
        width: 235px;
        transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);

        @media screen and (max-width:$screen-lg) {
            position: fixed;
            top: 0;
            #{$ltr} & {
                transform: translateX(-150%);
            }
            #{$rtl} & {
                transform: translateX(150%);
            }
            z-index: 3300;
            @include dir-left(0);
            background: $white;
            height: 100%;
            width: 285px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .accordion{
            width: 100%;
            padding: 20px;

            @media screen and (max-width:$screen-lg) {
                overflow: auto;
                height: 98%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 25px;
                    background-color: $blue2;
                }
            }
        }
    }

    .filter-cards{
        width: calc(100% - 235px);
        transition: all .8s cubic-bezier(0.68, -0.30, 0.265, 1.3);

        @media screen and (max-width:$screen-lg) {
            width: 100%;
        }
    }

    &.open-side{
        .filter-side{
            transform: translateX(0) !important;
        }
    }
}

// Start cards-container
.cards-container{
    @include grid(234px, 20px);
    // padding: 5px;
    // transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);



    .card-m{
        position: relative;
        transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);

        .card-head{
            border-radius: 8px;
            height: 230px;
            overflow: hidden;
            transition: $main-transition;
            position: relative;
            z-index: 1;

            @media screen and (max-width:$screen-xs) {
                height: 200px;
             }

            .card-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $main-transition;
            }

            .play-v{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include center;
                @include circle(38px);
                font-size: 13px;
                background-color: rgba($color: #000000, $alpha: .5);
                color: $white;
                cursor: pointer;
                z-index: 3;
            }

    
        }

        .card-m-body{
            .card-content{
                background-color: $white;
                transform: translateY(-4px);
                overflow: hidden;
                border: 1px solid $light4;
                border-top: none;
                margin-bottom: 12px;
                border-radius: 0 0 15px 15px;
                padding: 15px 7px;
                transition: $main-transition;

                .card-title-con{
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                }
    
                .card-title{
                    margin-bottom: 13px;
                    font-size: 17px;
                    font-family: fontDemi;
                    color: $black;
                    height: 23px;
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    &.lg{
                        -webkit-line-clamp: 2;
                        height: 52px;
                        font-size: 16px;
                    }

                    @media screen and (max-width:$screen-xs) {
                        height: auto !important;
                        font-size: 16px;
                    }

                    @media screen and (max-width:$screen-xxs) {
                        font-size: 15px;
                    }
                }
    
                .card-items{
                    .card-item{
                        height: 23px;
    
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 10px;
                        
                        &:last-of-type{
                            margin-bottom: 0;
                        }
    
                        .text{
                            font-size: 14px;
                            color: $light;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
    
                        img{
                            max-width: 20px;
                            max-height: 20px;
                        }
                    }
                }

                .card-info-con{
                    margin-top: 8px;

                    .card-info{
                        display: flex;
                        gap: 7px;
                        padding: 10px 0;
                        border-bottom: 1px solid $border-color;
                        min-height: 64px;

                        &:last-of-type{
                            padding: 8px 0 0;
                            border-bottom: none;
                        }

                        .card-info-i{
                            text-align: center;
                            flex: 1;
                            position: relative;

                            &:first-child{
                                @include dir-padding-right(8px);
                            }
                            &:first-child::after{
                                position: absolute;
                                content: '';
                                top: 50%;
                                transform: translateY(-50%);
                                @include dir-right(0);
                                width: 1px;
                                height: 20px;
                                background-color: $border-color;
                            }

                            .info-head{
                                font-size: 13px;
                                color: $light;
                                margin-bottom: 3px;
                                display: block;
                                line-height: 1.4;
                            }

                            .info-date{
                                font-size: 14px;
                                color: $black;
                                font-family: fontDemi;
                                line-height: 1.4;
                            }
                        }

                        .line{
                            width: 2px;
                            background-color: $border-color;
                            height: 24px;
                        }
                    }
                }

            }

            .main-btn{
                width: 100%;
                border-radius: 10px;
                opacity: 0;
                pointer-events: none;

                @media screen and (max-width:$screen-xs) {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }

        &:hover{
            .card-head{
                border: none;
                box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

                .card-img{
                    &.not-scale{
                        transform: scale(1);
                    }
                    transform: scale(1.2);

                }
            }

            .card-m-body{
                .card-content{
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                }

                .main-btn{
                    opacity: 1;
                    pointer-events: auto;
                }
            }


        }

    }

    &.verticale{
        display: flex;
        flex-direction: column;

        .card-m{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 20px;
            border: 1px solid $light4;
            border-radius: 10px;
            transition: $main-transition ;

            .card-head{
                height: 100%;
                width: 280px;
            }
            
            .card-m-body{
                padding: 0 0 10px;

                .card-title.lg{
                    width: 230px;
                }
                .card-content{
                    transform: translateY(0px);
                    border: none;
                    border-radius: 0;
                }
            }
            
            &:hover{
                box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

                .card-head{
                    box-shadow: none;
                }

                .card-m-body{
                    .card-content{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// Start download Section
.download-sec{
    background-color: $white3;

    @media screen and (max-width:$screen-md) {
        padding: 50px 0;
     }

    .download-content{
        @include between;

        @media screen and (max-width:$screen-md) {
            justify-content: center;
         }

        .rigth-sec{
            .download-title{
                font-size: 24px;
                margin-bottom: 35px;
                color: $black;
                font-family: fontDemi;

                @media screen and (max-width:$screen-md) {
                    text-align: center;
                }

                @media screen and (max-width:$screen-xs) {
                    font-size: 20px;
                }
            }

            .download-links{
                display: flex;
                gap: 20px;

                @media screen and (max-width:$screen-xs) {
                    gap: 10px;
                }

                .down-link{
                    background-color: #fff;
                    border: 1px solid $blue2;
                    width: 165px;
                    height: 58px;
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    transition: $main-transition;

                    @media screen and (max-width:$screen-xs) {
                        width: 150px;
                    }

                    @media screen and (max-width:$screen-xxs) {
                        width: 145px;
                     }

                    &:hover{
                        transform: translateY(-6px);
                    }

                    .img{
                        max-width: 25px;
                        max-height: 25px;
                    }

                    .down-info{

                        .text{
                            font-size: 13px;
                            color: $black3;
                            margin-bottom: 6px;
                        }

                        .name{
                            font-size: 15px;
                            color: $black;
                            font-weight: 600;
                        }

                    }
                    

                    &.blue{
                        background-color: $blue;

                        .down-info{

                            .text{
                                color: $white;
                            }
    
                            .name{
                                color: $white;
                            }
    
                        }
                    }
                }
            }
        }

        .left-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 340px;
                object-fit: scale-down;

                @media screen and (max-width:$screen-lg) {
                    width: 300px;
                }
            }

            @media screen and (max-width:$screen-md) {
                display: none;
            }
        }

    }
}

// Start Slider Company
.Company-Slider{
    background-color: $white3;
    position: relative;
    z-index: 2;

    @media screen and (max-width:$screen-lg) {
        padding: 0px 0;
    }
    
    .company-item{
        display: flex;
        align-items: center;
        gap: 30px;

        @media screen and (max-width:$screen-lg) {
            padding: 55px 0;
        }

        .right-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 360px;
                width: 100%;
                object-fit: scale-down;
            }

            @media screen and (max-width:$screen-lg) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: .1;
                z-index: 1;

                .market-img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .left-sec{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;

            @media screen and (max-width:$screen-md) {
                gap: 20px;
            }

            @media screen and (max-width:$screen-xs) {
                gap: 15px;
            }


            .company-title{
                font-size: 26px;
                color: $black;
                font-family: fontDemi;

                @media screen and (max-width:$screen-md) {
                    font-size: 23px;
                }

                @media screen and (max-width:$screen-xs) {
                    font-size: 20px;
                }
            }

            .company-info{
                font-size: 17px;
                color: $light;
                line-height: 1.9;

                @media screen and (max-width:$screen-md) {
                    font-size: 16px;
                }

                @media screen and (max-width:$screen-xs) {
                    font-size: 14px;
                }
            }
        }
    }

    .owl-dots{
        bottom: 0;

        @media screen and (max-width:$screen-lg) {
            bottom: 12px;
        }
        .owl-dot{
            background-color: $blue2 !important;
        }
    }
}

// Start Condtions Text
.cond-text{
    .form-text{
        font-size: 14px;
        color: $light5;
        line-height: 1.8;
        margin-bottom: 10px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}


// Start Rating Items
.rating-items{

    max-height: 425px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #4c9cdd;
    }

}

.rate-item{
    border-bottom: 2px solid $light3;

    &:last-child{
        border-bottom: none;
    }

    .rate-head{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;

        .rate-img{
            @include circle(46px);
            object-fit: cover;
        }

        .user-info{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .rate-name{
                font-size: 15px;
                color: $black;
                font-family: fontDemi;
            }

            .rate-date{
                font-size: 14px;
                color: $light;
            }
        }
    }

    .rate-text{
        font-size: 13px;
        line-height: 1.7;
        color: $light;
    }

    .requests-done{
        display: flex;
        align-items: center;
        gap: 10px;
         img{
            max-height: 16px;
         }

         .text{
            font-size: 16px;
            color: $black;
            font-family: fontDemi;
         }
    }
}

// Start stor-content
.stor-content{
    display: flex;
    align-items: center;
    gap: 25px;

    @media (max-width: $screen-md) {
        flex-direction: column;
        gap: 15px;
    }

    .store-img{
        width: 140px;
        height: 110px;
        border-radius: 10px;
        object-fit: cover;
        border: 4px solid $white3;

        @media screen and (max-width:$screen-sm) {
            width: 100px;
            height: 90px;
        }

        @media screen and (max-width:$screen-xs) {
            width: 90px;
            height: 80px;
        }
    }

    .stor-info{

        .store-head{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;

            @media (max-width: $screen-md) {
                justify-content: center;
            }

            .stor-title{
                font-size: 19px;
                font-family: fontDemi;
                color: $black;
            }

            .stor-star{
                display: flex;
                align-items: center;
                gap: 3px;
                color: $blue2;
                font-size: 16px;

                i{
                    color: $gold2;
                }
            }
        }

        .stor-items{
            display: flex;
            align-items: center;
            gap: 22px;
            margin-bottom: 15px;

            @media (max-width: $screen-md) {
                flex-direction: column;
                gap: 10px;
            }
        }

        .desc{
            @media (max-width: $screen-md) {
                text-align: center;
            }
        }
    }

    &.vert{
        flex-direction: column;
        gap: 10px;
        
        .store-img{
            width: 150px;
            height: 110px;
            border-radius: 10px;
            object-fit: cover;
            border: 4px solid $white3;
        }
        
        .stor-info{
            padding-bottom: 12px;
            border-bottom: 1px solid $white3;
            width: 100%;
    
            .store-head{
                justify-content: center;
                margin-bottom: 8px;
            }
    
            .stor-items{
                flex-direction: column;
                gap: 8px;
                margin-bottom: 8px;
            }

            .desc{
                text-align: center;
            }

            .price{
                font-size: 15px;
                color: $blue2;
                margin-top: 8px;
                text-align: center;
            }
        }

        .store-buttons{
            width: 100%;
            @include between;
            gap: 8px;
            padding-bottom: 15px;

            .store-btn{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                cursor: pointer;
                background-color: transparent;
                outline: none;

                @media screen and (max-width:$screen-xxs) {
                    font-size: 14px;
                }

                .ic{
                    font-size: 14px;

                    @media screen and (max-width:$screen-xxs) {
                        font-size: 12px;
                    }
                }

                &.blue{
                    color: $blue2;
                }

                &.red{
                    color: $red;
                }
            }
        }
    }

}

// stor Item
.stor-item{
    display: flex;
    align-items: center;
    gap: 6px;

    .text{
        font-size: 14px;
        color: $light;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img{
        max-width: 20px;
        max-height: 16px;
    }
}

// Start Product Detailes
.product-carousel{

    .owl-stage-outer{
        border-radius: 10px;
    }

}

.pro-slide-img{
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 10px;

    &.md{
        height: 695px;
    }

    &.lg{
        height: 734px;
    }

    @media screen and (max-width:$screen-lg) {
        height: 400px !important;
    }
}

// Product Thumbs
.dots-imgs{
    margin-top: 20px;

    .owl-dot{
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .dot-img{
            height: 130px;
            object-fit: cover;

            @media screen and (max-width:$screen-lg) {
                height: 115px;
            }

            @media screen and (max-width:$screen-sm) {
                height: 100px;
            }
        }

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparent;
            transition: all .5s ease;
            z-index: 2;
        }

        &::before{
            position: absolute;
            content: '';
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border: 3px solid $white;
            transition: all .5s ease;
            opacity: 0;
            border-radius: 10px;
            z-index: 3;
        }

    }

    .current{
        .owl-dot{

            &::after{
                background-color: rgba($color: #000000, $alpha: .2);
            }

            &::before{
                opacity: 1;
            }

        }
    }

}

// Product Crad
.product-content{
    .product-name{
        font-size: 18px;
        margin-bottom: 15px;
        color: $black;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .product-items{
        .product-item{
            margin-bottom: 18px;

            .product-item-top{
                font-size: 16px;
                color: #777777;
                margin-bottom: 8px;
            }

            .product-item-bottom{
                font-size: 15px;
                color: $black;
            }

            .pr-ic{
                max-height: 15px
            }
        }
    }

    .numbers-form{
        @include between;
        flex-wrap: wrap;
        gap: 8px;

        .number-item{
            display: flex;
            align-items: center;
            gap: 3px;

            .first{
                font-size: 15px;
                color: $black3;
            }

            .two{
                font-size: 15px;
                color: $black;
            }
        }
    }
}

// Store Carousel
.store-carousel{

    .owl-stage-outer{
        border-radius: 8px;
    }

    .store-slide-img{
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 8px;
    }

    .owl-dots{
        margin-top: 25px;
        position: unset !important;

        @media screen and (max-width:$screen-xs) {
            margin-top: 18px;
        }

        .owl-dot{
            background-color: $blue2 !important;
            opacity: .6;
      
            &.active{
                opacity: 1;
            }
        }
      }
}

.pr-old{
    display: flex;
    align-items: center;
    gap: 10px !important;
    .price{
        font-size: 16px;
        color: $blue2;
        font-family: fontDemi;
        line-height: 1.7;
    }

    .old-price{
        font-size: 16px;
        color: $light;
        text-decoration: line-through;
        line-height: 1.7;
    }
}

// Code Inputs
.code-inputs{
    .main-input{
        display: flex;
        align-items: center;
        gap: 10px;

        .input-me{
            min-height: 42px !important;
        }

        .main-btn{
            height: 42px;
            border-radius: 5px;
        }
    }

    &.lg{
        .main-input{
    
            .input-me{
                min-height: 48px !important;
            }
    
            .main-btn{
                height: 48px;
            }
        }
    }
}

// pro-buy-item
.pro-buy-item{
    border-bottom: 1px solid $light3;

    &:last-of-type{
        border-bottom: none;
    }

    .pro-buy-top{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;

        .img{
            width: 155px;
            height: 110px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            flex-shrink: 0;

            .buy-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $main-transition;
            }
        }

        .pro-buy-content{
            flex: 1;

            .pro-buy-head{
                @include between;
                margin-bottom: 10px;
                width: 100%;

                .title{
                    font-size: 15px;
                    font-family: fontDemi;
                    width: 230px;

                    &.lg{
                        font-size: 16px;
                        font-family: fontDemi;
                    }
                }

                .sm-btn{
                    position: absolute;
                    top: 0px;
                    @include dir-right(0px);
                }

                .pro-icon{
                    color: $blue2;
                    font-size: 16px;
                }
            }

            .buy-buttons{
                display: flex;
                align-items: center;
                gap: 18px;
                margin-top: 14px;

                .buy-btn{
                    padding: 0;
                    font-size: 14px;
                    color: $light5;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                    background-color: transparent;
                    outline: none;

                    &.blue{
                        .ic{
                            color: $blue2;
                        }
                    }

                    &.red{
                        .ic{
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .pro-buy-down{
        font-size: 13px;
        margin-top: 15px;
        color: $light5;
        width: 350px;
        line-height: 1.7;
        @media screen and (max-width:$screen-xs) {
            width: 100%;
        }
    }

    &:hover{
        .buy-img{
            transform: rotate(-3deg) scale(1.1);
        }
    }
}

// summary-item
.summary-item{
    @include between;
    gap: 8px;
    background-color: $white;
    padding: 24px 22px;
    
    &:nth-child(even){
        padding: 15px 22px;
        background-color: $white3;
    }
    
    .first{
        color: $light5;
        font-size: 15px;
    }

    .second{
        color: $blue2;
        font-family: fontDemi;
        font-size: 14px;
    }
    
    &.total{
        .first{
            font-family: fontDemi;
            color: $black;
        }
    }
}

// done-section
.done-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    .done-img{
        width: 205px;
        height: 105px;
        
        @media screen and (max-width: $screen-xs) {
            width: 175px;
            height: 86px;
        }
        
        @media screen and (max-width: $screen-xxs) {
            width: 165px;
            height: 80px;
        }
    }

    .done-text{
        font-size: 20px;
        color: $light5;
        font-family: fontDemi;
    }
}

// side-Bar
.side-bar{
    width: calc(100% - 50px);
}

.side-links{
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $side-shadow;

    .side-link{
        padding: 13px 10px;
        @include between;
        color: $side-color;
        font-size: 15px;
        position: relative;
        transition: $main-transition;

        i{
            #{$ltr} & {
                margin-left: auto;
            }
            #{$rtl} & {
                margin-right: auto;
            }
        }

        &.active{
            background-color: $white2;
            color: $blue2;
        }

        &::after{
            position: absolute;
            content: '';
            top: 0;
            @include dir-left(0);
            height: 100%;
            width: 0;
            transition: $main-transition;
            background-color: $white2;
            z-index: -1;
        }

        &:hover{
            color: $blue2;
            &::after{
                width: 100%;
            }
        }

        &.red{
            color: $red;

            &:hover{
                color: $white;
                &::after{
                    background-color: $red;
                }
            }
        }

        &.center{
            justify-content: center;
        }
    }
}

// package-input
.package-input{
    display: none;
    &:checked + .package{
        background-color: $white2;
        border-color: $white2
    }
}

// package
.package{
    transition: $main-transition;
    cursor: pointer;
    .package-head{
        @include between;
        margin-bottom: 18px;

        .title-m{
            font-size: 19px;
            font-family: fontDemi;
            color: $light2;
        }
    }

    .package-content{
        .package-span{
            font-size: 14px;
            color: $light5;
        }

        .desc{
            margin-top: 8px;
        }
    }
}

// order-item
.img-order-con{
    width: 110px;
    height: 110px;
    border-radius: 8px;
    @include center;
    border: 1px solid $light4;
    flex-shrink: 0;

    .order-img{
        width: 68px;
        height: 36px;
    }

    &.lg{
        width: 145px;
        height: 120px;
        border-width: 2px;

        .order-img{
            width: 75px;
            height: 42px;
        }
    }
}

.order-item{
    padding: 7px;
    border: 1px solid $border-color;
    border-radius: 8px;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    transition: all .3s ease;

    &:last-of-type{
        margin-bottom: 0;
    }

    .left-sec{
        padding: 0px 22px;
        width: 100%;

        .left-item{
            @include between;
            padding: 12px 0;
            border-bottom: 1px solid $light4;

            &:last-child{
                border-bottom: none;
            }
        }
    }

    &:hover{
        box-shadow: $nav-shadow;
        border-color: transparent;
    }
}

// order-vert
.order-vert{
    .img-order-con{
        margin: 0 auto 18px;
    }

    .items{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid $border-color;
    }

    .order-footer{
        text-align: center;
        padding: 16px 0 20px;
    }
}

// Print Modal
.logo-black{
    display: block;
    width: 200px;
    height: 78px;
    object-fit: contain;
    margin: 10px auto 20px;
}

.invoice-item{
    border-bottom: 1px solid $border-color;

    &:last-of-type{
        border-bottom: 0;
    }

    .text-item{
        font-size: 16px;
        color: $light;
        display: flex;
        gap: 5px;
    }
}

.code-img{
    width: 80px;
    height: 80px;
    margin: 10px auto 0;
    display: block;
}

@media print {
    body * {
      visibility: hidden !important;
    }
    .print-doctor,
    .print-doctor *:not(.head-btns *) {
      visibility: visible !important;
      color: black;
    }
    .print-doctor {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
}


// invoice-img
.invoice-img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}


// profile-content
.profile-content{
    display: flex;
    align-items: center;
    gap: 15px;

    .profile-photo{
        @include circle(74px);
        flex-shrink: 0;
        border: 4px solid $white3;
    }

    .user-info{
        .user-name{
            font-size: 17px;
            font-family: fontDemi;
            margin-bottom: 10px;
            color: $black;
            display: flex;
            align-items: center;
            gap: 12px;

            .user-star{
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                background-color: $white3;
                padding: 6px;
                border-radius: 3px;
                color: #202020;

                i{
                    color: $gold;
                }
            }
        }
    }
}

// mazad-inv-item
.mazad-inv-item{
    padding: 14px 25px;

    &:nth-child(even){
        background-color: $white3;
    }

    .mazad-inner-item{
        @include between;
        margin-bottom: 15px;
        font-size: 16px;
        font-family: fontDemi;

        &:last-child{
            margin-bottom: 0;
        }

        .first-maz{
            color: $black;
        }

        .sec-maz{
            color: $blue2;
        }
    }
}

// chat-container
.chat-img{
    // position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 10px;

    &::after{
        content: '';
        @include overlay(rgba(0,0,0, .2));
        z-index: 1;
    }
}

.chat-container{
    position: absolute;
    bottom: 10px;
    @include dir-left(50%);
    #{$ltr} & {
        transform: translateX(-50%);
    }
    #{$rtl} & {
        transform: translateX(50%);
    }
    width: calc(100% - 25px);
    z-index: 4;
    height: 280px;
    padding-bottom: 70px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: $blue2;
    }

    .chat-box{
        padding: 10px 14px;
        border: 1px solid $white;
        background-color: rgba($color: #000000, $alpha: .2);
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 8px;

        .chat-img{
            @include circle(44px);
            border: 3px solid $white;
            flex-shrink: 0;
        }

        .chat-text{
            font-size: 15px;
            color: $white;
        }
    }

}

.chat-form{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    z-index: 10;

    .chat-input{
        width: 100%;
        height: 50px;
        padding: 12px;
        border-radius: 4px;
        transition: $main-transition;
        border: 1px solid transparent;

        &::placeholder{
            color: $light5;
            font-size: 13px;
            transition: $main-transition;
        }

        &:focus{
            border-color: $blue2;
            &::placeholder{
                opacity: 0;
            }
        }
    }

    .chat-btn{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include dir-right(5px);
        width: 90px;
        height: 40px;
        font-size: 14px;
        border-radius: 4px;
    }
}

// not-item
.not-item{
    border: 1px solid $border-color;
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: $main-transition;

    &:last-child{
        margin-bottom: 0;
    }

    @media screen and (max-width: $screen-sm) {
        padding: 18px 15px;
    }

    @media screen and (max-width: $screen-xs) {
        padding: 15px 12px;
    }
    
    .not-text{
        color: $black;
        font-size: 17px;
        font-family: fontDemi;
        transition: $main-transition;
    
        @media screen and (max-width: $screen-sm) {
            font-size: 16px;
        }
    
        @media screen and (max-width: $screen-xs) {
            font-size: 15px;
        }
    }

    &:hover{
        background-color: $white2;

        .not-text{
            color: $blue2;
        }
    }
}

// contact
.contact-title{
    font-size: 20px;
    color: $black;
    font-family: fontDemi;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (max-width:$screen-xs) {
       font-size: 18px;
    }
}

.contact-us-item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;

    @media screen and (max-width:$screen-xs) {
        gap: 10px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    .img{
        width: 47px;
        height: 47px;
        border-radius: 5px;
        background-color: $white2;
        @include center;
        flex-shrink: 0;
        
        @media screen and (max-width:$screen-xs) {
            width: 42px;
            height: 42px;
        }

        img{
            max-width: 24px;
            max-height: 24px;
        }
    }

    .text{
        font-size: 17px;
        color: $black;
        
        @media screen and (max-width:$screen-xs) {
            font-size: 16px;
        }
    }
}

// wallet
.wallet-price{
    @include center;
    flex-direction: column;
    gap: 10px;
    font-family: fontDemi;
    margin-bottom: 25px;

    .title{
        font-size: 36px;
        color: $black;

        @media screen and (max-width:$screen-sm) {
            font-size: 30px;
        }

        @media screen and (max-width:$screen-xs) {
            font-size: 26px;
        }

        @media screen and (max-width:$screen-xxs) {
            font-size: 22px;
        }
    }

    .currency{
        font-size: 18px;
        color: $light5;

        @media screen and (max-width:$screen-xs) {
            font-size: 16px;
        }
    }
}

// rating-content
.rating-content{
    @include center;
    flex-direction: column;
    gap: 12px;

    .rating-head{
        font-size: 42px;
        color: $black;
        font-family: fontDemi;
    }

    .icons{
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 26px;
        color: $icon-color;

        .color{
            color: $gold;
        }
    }

    .rating-text{
        font-size: 20px;
        color: $light5;
    }
}


// conversation
.conversation-item{
    border-bottom: 2px solid $light3;
    @include between;
    align-items: start;
    gap: 8px;
    flex-wrap: wrap;
    cursor: pointer;

    &:last-child{
        border-bottom: none;
    }

    .conversation-right{
        display: flex;
        align-items: center;
        gap: 14px;

        .conversation-img{
            @include circle(46px);
            object-fit: cover;
            flex-shrink: 0;
        }

        .conversation-info{
            display: flex;
            flex-direction: column;
            gap: 6px;

            .conversation-name{
                font-size: 15px;
                color: $black;
                font-family: fontDemi;
            }

            .conversation-text{
                font-size: 14px;
                color: $light;
            }
        }
    }

    .conversation-left{
        .conversation-date{
            font-size: 15px;
            color: $light5;
        }
    }
}

// address-item
.address-item{
    // @include between;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0;
    }

    .address-name{
        font-size: 16px;
        font-family: fontDemi;
        margin-bottom: 14px;
    }

    .address-left{
        display: flex;
        gap: 8px;
    }
}

// invoices-table
.invoices{
    overflow-x: auto;
    
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: $blue2;
    }
}

.invoices-table{
    width: 100%;
    white-space: nowrap;

    thead{
        border-bottom: 1px solid $border-color;
        
        th{
            padding: 30px 10px 20px;
            text-align: center;
            font-size: 18px;
            color: $light5;
            font-weight: 500;
            
            @media screen and (max-width: $screen-xs) {
                font-size: 16px;
                padding: 20px 10px 15px;
            }
        }
    }

    tbody{

        tr{
            border-bottom: 1px solid $light3;

            td{
                font-size: 17px;
                color: #262626;
                padding: 20px 10px;
                text-align: center;
                vertical-align: middle;
                // font-family: fontDemi;

                @media screen and (max-width: $screen-xs) {
                    font-size: 15px;
                    padding: 16px 10px;
                }
            }
        }
    }
}

.store-containter{
    border-bottom: 1px solid $border-color;
    margin-bottom: 22px;
}

// stor-modal
.stor-modal{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;

    .img-s{
        width: 85px;
        height: 65px;
        border-radius: 8px;
        object-fit: cover;
        border: 3px solid $white3;
        flex-shrink: 0;
    }

    .left{
        .name{
            font-size: 17px;
            font-family: fontDemi;
            margin-bottom: 7px;

            @media screen and (max-width:$screen-xs) {
                font-size: 15px;
            }
        }

        .js-wc-star-rating{
            i{
              font-size: 20px !important;
            }
        }
    }
}


// product-m-containter
.product-m-containter{
    border: 1px solid $light3;
    border-radius: 6px;
}