@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Start Home Section
.home-section{
    // min-height: 80vh;
    position: relative;
    z-index: 2;

    .home-item{
        padding: 200px 0;
        color: #fff;

        @media screen and (max-width:$screen-lg) {
            padding: 150px 0;
        }

        @media screen and (max-width:$screen-md) {
            padding: 130px 0;
        }

        @media screen and (max-width:$screen-sm) {
            padding: 100px 0;
        }

        &::after{
            content: '';
            @include overlay(rgba(0, 0 ,0, .5))
        }

        .home-img{
            @include overlay(none);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-content{

            .home-title{
                color: $white;
                margin-bottom: 22px;
                text-align: center;

                .text{
                    font-size: 23px;
                }
    
                .title{
                    font-family: fontDemi;
                    font-size: 40px;
                    margin-top: 10px;
                }
            }
    
            .home-desc{
                line-height: 1.6;
                font-size: 19px;
                color: $white;
                text-align: center;
                font-family: fontReg;
    
                @media screen and (max-width:$screen-md) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
    
            }

        }

    }

    .owl-dots{
        .owl-dot{
            background-color: $white !important;
        }
    }
}

// Start discount Section
.discount-sec{
    .discount-item{
        position: relative;
        height: 280px;
        border-radius: 20px;
        overflow: hidden;

        .disc-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .5);
            @include center;
            flex-direction: column;
            gap: 28px;
            transition: $main-transition;
            opacity: 0;
            pointer-events: none;

            .disc-head{
                font-size: 26px;
                color: $white;
            }
        }

        &:hover{
            .content{
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

}

.side-filter-cards{
    display: flex;
    gap: 32px;
    align-items: flex-start;

    .filter-side{
        flex: 1;
    }
}

// Start cards-container
.cards-container{
    flex: 4.6;
    @include grid(234px, 18px);

    .card-m{
        position: relative;

        .card-head{
            border-radius: 8px;
            height: 240px;
            overflow: hidden;
            transition: $main-transition;
            position: relative;

            .card-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $main-transition;
            }

            .play-v{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include center;
                @include circle(38px);
                font-size: 13px;
                background-color: rgba($color: #000000, $alpha: .5);
                color: $white;
                cursor: pointer;
                z-index: 3;
            }

    
        }

        .card-m-body{
            
            .card-content{
                transform: translateY(-4px);
                overflow: hidden;
                border: 1px solid $light4;
                border-top: none;
                margin-bottom: 12px;
                border-radius: 0 0 15px 15px;
                padding: 15px 7px;
                transition: $main-transition;

                .card-title-con{
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                }
    
                .card-title{
                    margin-bottom: 13px;
                    font-size: 17px;
                    font-family: fontDemi;
                    color: $black;
                    height: 23px;
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    &.lg{
                        -webkit-line-clamp: 2;
                        height: 52px;
                        font-size: 16px;
                    }
                }
    
                .card-items{
                    .card-item{
                        height: 23px;
    
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        margin-bottom: 10px;
                        
                        &:last-of-type{
                            margin-bottom: 0;
                        }
    
                        .text{
                            font-size: 14px;
                            color: $light;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
    
                        img{
                            max-width: 20px;
                            max-height: 20px;
                        }
                    }
                }

                .card-info-con{
                    margin-top: 8px;

                    .card-info{
                        display: flex;
                        gap: 7px;
                        padding: 10px 0;
                        border-bottom: 1px solid $border-color;
                        min-height: 64px;

                        &:last-of-type{
                            padding: 8px 0 0;
                            border-bottom: none;
                        }

                        .card-info-i{
                            text-align: center;
                            flex: 1;
                            position: relative;

                            &:first-child{
                                padding-left: 8px;
                            }
                            &:first-child::after{
                                position: absolute;
                                content: '';
                                top: 50%;
                                transform: translateY(-50%);
                                left: 0;
                                width: 1px;
                                height: 20px;
                                background-color: $border-color;
                            }

                            .info-head{
                                font-size: 13px;
                                color: $light;
                                margin-bottom: 3px;
                                display: block;
                                line-height: 1.4;
                            }

                            .info-date{
                                font-size: 14px;
                                color: $black;
                                font-family: fontDemi;
                                line-height: 1.4;
                            }
                        }

                        .line{
                            width: 2px;
                            background-color: $border-color;
                            height: 24px;
                        }
                    }
                }

                .price{
                    font-size: 16px;
                    color: $blue2;
                    font-family: fontDemi;
                    line-height: 1.7;
                }
            }

            .main-btn{
                width: 100%;
                border-radius: 10px;
                opacity: 0;
                pointer-events: none;
            }
        }


        
        &:hover{
            .card-head{
                border: none;
                box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

                .card-img{
                    &.not-scale{
                        transform: scale(1);
                    }
                    transform: scale(1.3);

                }
            }

            .card-m-body{
                .card-content{
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                }

                .main-btn{
                    opacity: 1;
                    pointer-events: auto;
                }
            }


        }
    }
}


// Start download Section
.download-sec{
    background-color: $white3;

    .download-content{
        @include between;

        .rigth-sec{
            .download-title{
                font-size: 24px;
                margin-bottom: 35px;
                color: $black;
                font-family: fontDemi;
            }

            .download-links{
                display: flex;
                gap: 20px;

                .down-link{
                    background-color: #fff;
                    border: 1px solid $blue2;
                    width: 165px;
                    height: 58px;
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    transition: $main-transition;

                    &:hover{
                        transform: translateY(-6px);
                    }

                    .img{
                        max-width: 25px;
                        max-height: 25px;
                    }

                    .down-info{

                        .text{
                            font-size: 13px;
                            color: $black3;
                            margin-bottom: 6px;
                        }

                        .name{
                            font-size: 15px;
                            color: $black;
                            font-weight: 600;
                        }

                    }
                    

                    &.blue{
                        background-color: $blue;

                        .down-info{

                            .text{
                                color: $white;
                            }
    
                            .name{
                                color: $white;
                            }
    
                        }
                    }
                }
            }
        }

        .left-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 340px;
                object-fit: scale-down;
            }
        }

    }
}

// Start Slider Company
.Company-Slider{
    background-color: $white3;

    .company-item{
        display: flex;
        align-items: center;
        gap: 30px;

        .right-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 360px;
                width: 100%;
                object-fit: scale-down;
            }
        }

        .left-sec{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;

            .company-title{
                font-size: 26px;
                color: $black;
                font-family: fontDemi;
            }

            .company-info{
                font-size: 17px;
                color: $light;
                line-height: 1.9;
            }
        }
    }

    .owl-dots{
        bottom: 0;
        .owl-dot{
            background-color: $blue2 !important;
        }
    }
}