@import "sass/variables", "sass/mixins", "sass/global" , "sass/components", "sass/navbar", "sass/footer";


// Start Home Section
.home-section{
    // min-height: 80vh;
    position: relative;
    z-index: 2;

    .home-item{
        padding: 200px 0;
        color: #fff;

        @media screen and (max-width:$screen-lg) {
            padding: 150px 0;
        }

        @media screen and (max-width:$screen-md) {
            padding: 130px 0;
        }

        @media screen and (max-width:$screen-sm) {
            padding: 100px 0;
        }

        &::after{
            content: '';
            @include overlay(rgba(0, 0 ,0, .5))
        }

        .home-img{
            @include overlay(none);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home-content{

            .home-title{
                color: $white;
                margin-bottom: 22px;
                text-align: center;

                .text{
                    font-size: 23px;
                }
    
                .title{
                    font-family: fontDemi;
                    font-size: 40px;
                    margin-top: 10px;
                }
            }
    
            .home-desc{
                line-height: 1.6;
                font-size: 19px;
                color: $white;
                text-align: center;
                font-family: fontReg;
    
                @media screen and (max-width:$screen-md) {
                    font-size: 16px;
                    margin-bottom: 20px;
                }
    
            }

        }

    }

    .owl-dots{
        @include center;
        gap: 10px;
        position: absolute !important;
        bottom: 20px;
        left: 0;
        width: 100%;
        z-index: 3;
      
        .owl-dot{
            background-color: $white !important;
            width: 18px;
            height: 8px;
            border-radius: 10px;
            opacity: .5;
      
            &.active{
                width: 35px;
                opacity: 1;
            }
        }
      }
}

// Start discount Section
.discount-sec{
    .discount-item{
        position: relative;
        height: 280px;
        border-radius: 20px;
        overflow: hidden;

        .disc-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: .5);
            @include center;
            flex-direction: column;
            gap: 28px;
            transition: $main-transition;
            opacity: 0;
            pointer-events: none;

            .disc-head{
                font-size: 26px;
                color: $white;
            }
        }

        &:hover{
            .content{
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

}

.side-filter-cards{
    display: flex;
    gap: 32px;
    align-items: flex-start;

    .filter-side{
        flex: 1;
    }

    .filter-cards{
        flex: 4.6;
    }
}

// Start cards-container
.cards-container{
    @include grid(234px, 20px);
    transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);

    .card-m{
        position: relative;
        transition: all .6s cubic-bezier(0.68, -0.30, 0.265, 2.1);

        .card-head{
            border-radius: 8px;
            height: 240px;
            overflow: hidden;
            transition: $main-transition;
            position: relative;
            z-index: 1;

            .card-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: $main-transition;
            }

            .play-v{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include center;
                @include circle(38px);
                font-size: 13px;
                background-color: rgba($color: #000000, $alpha: .5);
                color: $white;
                cursor: pointer;
                z-index: 3;
            }

    
        }

        .card-m-body{
            .card-content{
                background-color: $white;
                transform: translateY(-4px);
                overflow: hidden;
                border: 1px solid $light4;
                border-top: none;
                margin-bottom: 12px;
                border-radius: 0 0 15px 15px;
                padding: 15px 7px;
                transition: $main-transition;

                .card-title-con{
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                }
    
                .card-title{
                    margin-bottom: 13px;
                    font-size: 17px;
                    font-family: fontDemi;
                    color: $black;
                    height: 23px;
                    line-height: 1.6;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    &.lg{
                        -webkit-line-clamp: 2;
                        height: 52px;
                        font-size: 16px;
                    }
                }
    
                .card-items{
                    .card-item{
                        height: 23px;
    
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 10px;
                        
                        &:last-of-type{
                            margin-bottom: 0;
                        }
    
                        .text{
                            font-size: 14px;
                            color: $light;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
    
                        img{
                            max-width: 20px;
                            max-height: 20px;
                        }
                    }
                }

                .card-info-con{
                    margin-top: 8px;

                    .card-info{
                        display: flex;
                        gap: 7px;
                        padding: 10px 0;
                        border-bottom: 1px solid $border-color;
                        min-height: 64px;

                        &:last-of-type{
                            padding: 8px 0 0;
                            border-bottom: none;
                        }

                        .card-info-i{
                            text-align: center;
                            flex: 1;
                            position: relative;

                            &:first-child{
                                @include dir-padding-right(8px);
                            }
                            &:first-child::after{
                                position: absolute;
                                content: '';
                                top: 50%;
                                transform: translateY(-50%);
                                @include dir-right(0);
                                width: 1px;
                                height: 20px;
                                background-color: $border-color;
                            }

                            .info-head{
                                font-size: 13px;
                                color: $light;
                                margin-bottom: 3px;
                                display: block;
                                line-height: 1.4;
                            }

                            .info-date{
                                font-size: 14px;
                                color: $black;
                                font-family: fontDemi;
                                line-height: 1.4;
                            }
                        }

                        .line{
                            width: 2px;
                            background-color: $border-color;
                            height: 24px;
                        }
                    }
                }

                .price{
                    font-size: 16px;
                    color: $blue2;
                    font-family: fontDemi;
                    line-height: 1.7;
                }

                .old-price{
                    font-size: 16px;
                    color: $light;
                    text-decoration: line-through;
                    line-height: 1.7;
                }
            }

            .main-btn{
                width: 100%;
                border-radius: 10px;
                opacity: 0;
                pointer-events: none;
            }
        }

        &:hover{
            .card-head{
                border: none;
                box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

                .card-img{
                    &.not-scale{
                        transform: scale(1);
                    }
                    transform: scale(1.2);

                }
            }

            .card-m-body{
                .card-content{
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                }

                .main-btn{
                    opacity: 1;
                    pointer-events: auto;
                }
            }


        }

    }

    &.verticale{
        display: flex;
        flex-direction: column;

        .card-m{
            display: flex;
            align-items: center;
            gap: 25px;
            margin-bottom: 20px;
            border: 1px solid $light4;
            border-radius: 10px;
            transition: $main-transition ;

            .card-head{
                height: 100%;
                width: 280px;
            }
            
            .card-m-body{
                padding: 0 0 10px;

                .card-title.lg{
                    width: 230px;
                }
                .card-content{
                    transform: translateY(0px);
                    border: none;
                    border-radius: 0;
                }
            }
            
            &:hover{
                box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);

                .card-head{
                    box-shadow: none;
                }

                .card-m-body{
                    .card-content{
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

// Start download Section
.download-sec{
    background-color: $white3;

    .download-content{
        @include between;

        .rigth-sec{
            .download-title{
                font-size: 24px;
                margin-bottom: 35px;
                color: $black;
                font-family: fontDemi;
            }

            .download-links{
                display: flex;
                gap: 20px;

                .down-link{
                    background-color: #fff;
                    border: 1px solid $blue2;
                    width: 165px;
                    height: 58px;
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    transition: $main-transition;

                    &:hover{
                        transform: translateY(-6px);
                    }

                    .img{
                        max-width: 25px;
                        max-height: 25px;
                    }

                    .down-info{

                        .text{
                            font-size: 13px;
                            color: $black3;
                            margin-bottom: 6px;
                        }

                        .name{
                            font-size: 15px;
                            color: $black;
                            font-weight: 600;
                        }

                    }
                    

                    &.blue{
                        background-color: $blue;

                        .down-info{

                            .text{
                                color: $white;
                            }
    
                            .name{
                                color: $white;
                            }
    
                        }
                    }
                }
            }
        }

        .left-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 340px;
                object-fit: scale-down;
            }
        }

    }
}

// Start Slider Company
.Company-Slider{
    background-color: $white3;

    .company-item{
        display: flex;
        align-items: center;
        gap: 30px;

        .right-sec{
            .market-img{
                max-width: 100%;
                max-height: 100%;
                height: 360px;
                width: 100%;
                object-fit: scale-down;
            }
        }

        .left-sec{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            height: 100%;

            .company-title{
                font-size: 26px;
                color: $black;
                font-family: fontDemi;
            }

            .company-info{
                font-size: 17px;
                color: $light;
                line-height: 1.9;
            }
        }
    }

    .owl-dots{
        bottom: 0;
        .owl-dot{
            background-color: $blue2 !important;
        }
    }
}

// Start Condtions Text
.cond-text{
    .form-text{
        font-size: 14px;
        color: $light5;
        line-height: 1.8;
        margin-bottom: 10px;

        &:last-of-type{
            margin-bottom: 0;
        }
    }
}


// Start Rating Items
.rating-items{

    height: 425px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: #4c9cdd;
    }

}

.rate-item{
    border-bottom: 2px solid $light3;

    &:last-child{
        border-bottom: none;
    }

    .rate-head{
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 10px;

        .rate-img{
            @include circle(46px);
            object-fit: cover;
        }

        .user-info{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .rate-name{
                font-size: 15px;
                color: $black;
            }

            .rate-date{
                font-size: 14px;
                color: $light;
            }
        }
    }

    .rate-text{
        font-size: 13px;
        line-height: 1.7;
        color: $light;
    }
}

// Start stor-content
.stor-content{
    display: flex;
    align-items: center;
    gap: 25px;

    .store-img{
        width: 140px;
        height: 110px;
        border-radius: 10px;
        object-fit: cover;
        border: 4px solid $white3;
    }

    .stor-info{

        .store-head{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 15px;

            .stor-title{
                font-size: 19px;
                font-family: fontDemi;
                color: $black;
            }

            .stor-star{
                display: flex;
                align-items: center;
                gap: 3px;
                color: $blue2;
                font-size: 15px;

                i{
                    color: $gold2;
                }
            }
        }

        .stor-items{
            display: flex;
            align-items: center;
            gap: 22px;
            margin-bottom: 15px;

            .stor-item{
                display: flex;
                align-items: center;
                gap: 6px;

                .text{
                    font-size: 14px;
                    color: $light;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                img{
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }
    }

    &.vert{
        flex-direction: column;
        gap: 10px;
        
        .store-img{
            width: 150px;
            height: 110px;
            border-radius: 10px;
            object-fit: cover;
            border: 4px solid $white3;
        }
        
        .stor-info{
            padding-bottom: 12px;
            border-bottom: 1px solid $white3;
            width: 100%;
    
            .store-head{
                justify-content: center;
                margin-bottom: 8px;
            }
    
            .stor-items{
                flex-direction: column;
                gap: 8px;
                margin-bottom: 8px;
            }

            .desc{
                text-align: center;
            }

            .price{
                font-size: 15px;
                color: $blue2;
                margin-top: 8px;
                text-align: center;
            }
        }

        .store-buttons{
            width: 100%;
            @include between;
            gap: 8px;
            padding-bottom: 15px;

            .store-btn{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 15px;
                cursor: pointer;
                background-color: transparent;
                outline: none;

                .ic{
                    font-size: 14px;
                }

                &.blue{
                    color: $blue2;
                }

                &.red{
                    color: $red;
                }
            }
        }
    }

}

// Start Product Detailes
.product-carousel{
    .pro-slide-img{
        width: 100%;
        height: 570px;
        object-fit: cover;
        border-radius: 10px;
    }
}

// Product Thumbs
.dots-imgs{
    margin-top: 20px;

    .owl-dot{
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .dot-img{
            height: 130px;
            object-fit: cover;
        }

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: transparent;
            transition: all .5s ease;
            z-index: 2;
        }

        &::before{
            position: absolute;
            content: '';
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            border: 3px solid $white;
            transition: all .5s ease;
            opacity: 0;
            border-radius: 10px;
            z-index: 3;
        }

    }

    .current{
        .owl-dot{

            &::after{
                background-color: rgba($color: #000000, $alpha: .2);
            }

            &::before{
                opacity: 1;
            }

        }
    }

}

// Product Crad
.product-content{
    .product-name{
        font-size: 18px;
        margin-bottom: 15px;
        color: $black;
    }

    .product-items{
        .product-item{
            margin-bottom: 25px;

            .product-item-top{
                font-size: 17px;
                color: #777777;
                margin-bottom: 8px;
            }

            .product-item-bottom{
                font-size: 16px;
                color: $black;
            }
        }
    }

    .numbers-form{
        @include between;

        .number-item{
            display: flex;
            align-items: center;
            gap: 3px;

            .first{
                font-size: 15px;
                color: $black3;
            }

            .two{
                font-size: 15px;
                color: $black;
            }
        }
    }
}

// Store Carousel
.store-carousel{

    .owl-stage-outer{
        border-radius: 8px;
    }

    .store-slide-img{
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-radius: 8px;
    }

    .owl-dots{
        @include center;
        gap: 10px;
        width: 100%;
        margin-top: 25px;
        .owl-dot{
            background-color: $blue2 !important;
            width: 18px;
            height: 8px;
            border-radius: 10px;
            opacity: .6;
      
            &.active{
                width: 35px;
                opacity: 1;
            }
        }
      }
}

.pr-old{
    display: flex;
    align-items: center;
    gap: 10px !important;
    .price{
        font-size: 16px;
        color: $blue2;
        font-family: fontDemi;
        line-height: 1.7;
    }

    .old-price{
        font-size: 16px;
        color: $light;
        text-decoration: line-through;
        line-height: 1.7;
    }
}

// Code Inputs
.code-inputs{
    .main-input{
        display: flex;
        align-items: center;
        gap: 10px;

        .input-me{
            min-height: 42px !important;
        }

        .main-btn{
            height: 42px;
            border-radius: 5px;
        }
    }

    &.lg{
        .main-input{
    
            .input-me{
                min-height: 48px !important;
            }
    
            .main-btn{
                height: 48px;
            }
        }
    }
}

// pro-buy-item
.pro-buy-item{
    border-bottom: 1px solid $light3;

    &:last-of-type{
        border-bottom: none;
    }

    .pro-buy-top{
        display: flex;
        gap: 20px;

        .img{
            width: 155px;
            height: 115px;
            position: relative;
            border-radius: 8px;
            overflow: hidden;

            .buy-img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .pro-buy-content{
            flex: 1;

            .pro-buy-head{
                @include between;
                margin-bottom: 10px;
                width: 100%;

                .title{
                    font-size: 15px;
                    font-family: fontDemi;
                    width: 230px;
                }
            }

            .buy-buttons{
                display: flex;
                align-items: center;
                gap: 18px;
                margin-top: 14px;

                .buy-btn{
                    padding: 0;
                    font-size: 14px;
                    color: $light5;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                    background-color: transparent;
                    outline: none;

                    &.blue{
                        .ic{
                            color: $blue2;
                        }
                    }

                    &.red{
                        .ic{
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .pro-buy-down{
        font-size: 13px;
        margin-top: 15px;
        color: $light5;
        width: 350px;
        line-height: 1.7;
    }
}

// summary-item
.summary-item{
    @include between;
    gap: 8px;
    background-color: $white;
    padding: 24px 22px;
    
    &:nth-child(even){
        padding: 15px 22px;
        background-color: $white3;
    }
    
    .first{
        color: $light5;
        font-size: 15px;
    }

    .second{
        color: $blue2;
        font-family: fontDemi;
        font-size: 14px;
    }
    
    &.total{
        .first{
            font-family: fontDemi;
            color: $black;
        }
    }
}